
main{
	width:1780px;
	margin:auto;
}
section{
	margin-bottom:5px;
	border:1px solid #221b47;
	background:rgba(0,0,0,.3)
}
section dd{
	float:left;
}
section dt{
	float:left;
}
section h2{
	height:40px;
	font-size:18px;
	line-height:40px;
	border-bottom:1px solid #221b47;
	text-indent:20px;
	font-weight:100;
}
.index_main_left{
	float:left;
	margin-right:5px;
	width:320px;
}
.index_main_right{
	float:left;
}
.index_right_top{
	margin-bottom:5px;
}
.index_rt_l{
	float:left;
	margin-right:5px;
}
.index_rt_r{
	float:left;
}
.device_number li{
	position:relative;
	text-indent:20px;
	line-height:40px;
	color:#00cdff;
}
.device_number li:before {
	content:'';
	position:absolute;
	top:18px;
	left:0;
	width:4px;
	height:4px;
	border-radius:50%;
	background:#00cdff;
}
.ca1{
	width:180px;
	height:180px;
}
.people_change li div{
	float:left;
	line-height:40px;
	text-align:center;
}
.people_change li.title{
	background:#00cdff;
}
.people_name{
	width:80px;
}
.department{
	width:120px;
}
.change_content{
	width:118px;
}