
main{
	width:18.8rem;
	margin:auto;
}
section{
	margin-bottom:5px;
	border:1px solid #221b47;
	background:rgba(0,0,0,.3)
}
section dd{
	float:left;
}
section dt{
	float:left;
}
section h2{
	height:0.4rem;
	font-size:18px;
	line-height:0.4rem;
	border-bottom:1px solid #221b47;
	text-indent:0.2rem;
	font-weight:100;
}
.index_main_left{
	float:left;
	margin-right:5px;
	width:4.2rem;
}
.index_main_right{
	float:left;
}
.index_right_top{
	margin-bottom:5px;
}
.index_rt_l{
	width:11rem;
	float:left;
	margin-right:5px;
}
.index_rt_l img{
	width:100%;
}
.index_rt_r{
	width:3rem;
	float:left;
}
.device_number li{
	position:relative;
	text-indent:0.2rem;
	line-height:0.4rem;
	color:#00cdff;
}
.device_number li:before {
	content:'';
	position:absolute;
	top:18px;
	left:0;
	width:4px;
	height:4px;
	border-radius:50%;
	background:#00cdff;
}
.ca1{
	width:1.8rem;
	height:1.8rem;
}
.people_change li div{
	float:left;
	line-height:0.4rem;
	text-align:center;
}
.people_change li.title{
	background:#00cdff;
}
.people_name{
	width:0.8rem;
}
.department{
	width:1.2rem;
}
.change_content{
	width:1.18rem;
}